@model QL_CTDT.Data.Models.Entities.GanHocPhan

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Gán học phần cho @ViewBag.CTDT_KKT.TenCTDT_KKT</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <input type="hidden" name="maCTDT_KKT" value="@ViewBag.CTDT_KKT.MaCTDT_KKT" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @foreach (var hp in ViewBag.HocPhans)
                {
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="maHP" value="@hp.Value" class="makktCheckbox" />
                            @hp.Text
                        </label>
                    </div>
                }
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>