@{
    ViewData["Title"] = "Home Page";
}

<div class="content-left">
    <p>TIN TỨC MỚI NHẤT</p>
</div>
<div class="content-center">
    <p>THÔNG BÁO</p>
</div>
<div class="content-right">
    <p>VĂN BẢN, BIỂU MẪU</p>
</div>