@model QuanLyCTDT.Models.DanhMucCTDT

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>DanhMucCTDT</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NganhID" class="control-label"></label>
                <select asp-for="NganhID" class ="form-control" asp-items="ViewBag.NganhID"></select>
            </div>
            <div class="form-group">
                <label asp-for="KhoaHocID" class="control-label"></label>
                <select asp-for="KhoaHocID" class ="form-control" asp-items="ViewBag.KhoaHocID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
