@model QL_CTDT.Data.Models.ViewModels.Create_CTDT_VM

<h2>Create CTDT</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
            <label asp-for="Ten" class="control-label"></label>
            <input asp-for="Ten" class="form-control" />
            <span asp-validation-for="Ten" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="MaKhoa" class="control-label"></label>
                <select asp-for="MaKhoa" class="form-control" asp-items="ViewBag.Khoas"></select>
                <span asp-validation-for="MaKhoa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaKhoaHoc" class="control-label"></label>
                <select asp-for="MaKhoaHoc" class="form-control" asp-items="ViewBag.KhoaHocs"></select>
                <span asp-validation-for="MaKhoaHoc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaNganh" class="control-label"></label>
                <select asp-for="MaNganh" class="form-control" asp-items="ViewBag.Nganhs"></select>
                <span asp-validation-for="MaNganh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoNamDaoTao" class="control-label"></label>
                <input asp-for="SoNamDaoTao" class="form-control" />
                <span asp-validation-for="SoNamDaoTao" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="MaNganh" class="control-label"></label>
                @foreach (var kkt in ViewBag.KKTs)
                {
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="MaKKT" value="@kkt.Value" class="makktCheckbox" />
                            @kkt.Text
                        </label>
                    </div>
                    
                }
                <span asp-validation-for="MaKhoa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

