<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="icon" type="image/png" href="~/img/Logo_CellPhoneX.png">


    <link rel="stylesheet" href="~/css/webClient.css">
</head>
<body>
    <div class="top_bar">
        <div class="medium-container">
            <div class="row">
                <div class="top_inner">
                    <div class="common_css">
                        <div class="info-left">
                            <div class="icon">
                                <img src="~/image/gmail (1).png">
                            </div>
                            <div>
                                <a href="#" style="color: aliceblue;">Nhom2@gmail.com</a>
                            </div>
                            <div class="icon" style="margin-left: 40px;">
                                <img src="~/image/phone-call.png">
                            </div>
                            <div class="text">
                                <a href="#" style="color: aliceblue;">0886666666</a>
                            </div>
                        </div>
                        <div class="info-right">
                            <a href="#"><img src="~/image/facebook.png"></a>
                            <a href="#"></a><img src="~/image/vietnam.png" style="margin-left: 15px;"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <header>
        <a href="#" class="logo">Logo</a>
        <ul>
            <li><a href="#">TRANG CHỦ</a></li>
            <li>
                <a href="/CTDT.html">CHƯƠNG TRÌNH ĐÀO TẠO</a>
                <ul>
                    <li><a href="#">khoa cntt</a></li>
                    <li><a href="#">khoa cntt</a></li>
                    <li><a href="#">khoa cntt</a></li>
                    <li><a href="#">khoa cntt</a></li>
                </ul>
            </li>
            <li><a href="#">SINH VIÊN</a></li>
            <li><a href="#">ĐĂNG NHẬP</a></li>
        </ul>
    </header>
    <div class="content">
        @RenderBody()
    </div>
    <footer>
        
    </footer>
    <script>
        window.addEventListener('scroll', () => {
            const header = document.querySelector('header');
            header.classList.toggle('sticky', window.scrollY > 0);
        })
    </script>
</body>
</html>