@model IEnumerable<QL_CTDT.Data.Models.ViewModels.Nganh_VM>

@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1 class="display-4 font-weight-bold text-dark">Welcome to</h1>
    <h1 class="display-7 font-weight-bold text-dark">Hệ Thống Quản Lý Chương Trình Đào Tạo</h1>
</div>
<main class="container py-5 main">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3">
        @foreach (var item in Model) {
            <div class="col mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title font-weight-bold">@item.Ten</h2>
                        <p class="card-text">@item.MoTa</p>
                        <a asp-action="Index" asp-controller="Khoa" class="btn btn-primary">Xem CTĐT Ngành @item.Ten</a>
                    </div>
                </div>
            </div>
        }
    </div>
</main>